@model AppOwnsData.Models.ReportEmbedConfig
    <style>
        #reportContainer {
            width: 900px;
            height: 600px;
            max-width: 100%;
        }

        #Title {
            width: 900px;
            height: 30px;
            max-width: 100%;
        }
    </style>

    <h2>Embedded Report</h2>
    <div id="Title">
        Ag Dev
    </div>

    <div id="reportContainer"></div>

    <script src="~/js/powerbi.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script>
    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read ReportId from Model
    var embedReportId = "@Model.ReportId";

    // Use the token expiry to regenerate Embed token for seamless end user experience
    // Refer https://aka.ms/RefreshEmbedToken
    var tokenExpiry = "@Model.EmbedToken.Expiration";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://docs.microsoft.com/en-us/javascript/api/overview/powerbi/embed-dashboard
    var config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        pageView: 'fitToWidth'
    };

    // Get a reference to the embedded report HTML element
    var reportContainer = $('#reportContainer')[0];

    // Embed the report and display it within the div container.
    powerbi.embed(reportContainer, config);

    </script>